<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de contratos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .modal-excluir {
            background-color: rgba(0, 0, 0, 0.29);
            width: 100%;
            height: 100vh;
            z-index: 999;
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
        }

        .modal-excluir > form {
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .btns-container {
            display: flex;
            justify-content: end;
            gap: 15px;
        }
    </style>
</head>
<body>
    <div th:replace="~{fragments/cabecalho :: cabecalho}"></div>
    <div class="container">
        <h2>Lista de contratos</h2>
        <hr>
        <a th:href="@{/contratos/formCriacao}" class="btn btn-primary mb-3">Novo contrato</a>
        <br>
        <table class="table table-striped table-bordered">
            <thead>
                <th class="text-center align-middle">Id</th>
                <th class="text-center align-middle">Valor</th>
                <th class="text-center align-middle" style="width: 575px">Descrição</th>
                <th class="text-center align-middle">Data de criação</th>
                <th class="text-center align-middle">Última alteração</th>
                <th class="text-center align-middle">Contratante</th>
                <th class="text-center align-middle">Contratado</th>
                <th class="text-center align-middle">Ações</th>
            </thead>
            <tr th:each="contrato : ${contratos}">
                <td th:text="${contrato.id}" class="text-center align-middle"/>
                <td th:text="${#numbers.formatCurrency(contrato.valor)}" class="text-center align-middle"/>
                <td th:text="${contrato.descricao}" class="text-center align-middle"/>
                <td class="text-center align-middle">
                    <span th:text="${#temporals.format(contrato.dataCriacao, 'dd/MM/yyyy')}"/>
                    <span th:text="${#temporals.format(contrato.dataCriacao, 'HH:mm')}"/>
                </td>
                <td class="text-center align-middle">
                    <span th:text="${#temporals.format(contrato.dataUltimaAlteracao, 'dd/MM/yyyy')}"/>
                    <span th:text="${#temporals.format(contrato.dataUltimaAlteracao, 'HH:mm')}"/>
                </td>
                <td th:text="${contrato.contratante.nome}" class="text-center align-middle"/>
                <td th:text="${contrato.contratado.nome}" class="text-center align-middle"/>
                <td class="align-middle">
                    <div class="d-flex justify-content-between">
                        <a th:href="@{/contratos/formEdicao/{id}(id=${contrato.id})}" class="btn btn-primary btn-sm me-1" title="Editar">
                            Editar
                        </a>
                        <a th:href="@{/contratos/download/{id}(id=${contrato.id})}" class="btn btn-outline-success btn-sm me-1" title="Download">
                            Baixar
                        </a>
                        <button class="btn btn-danger btn-sm apagar" title="Excluir" th:data-id="${contrato.id}">
                            Excluir
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
<!--    Modal excluir-->
    <div class="modal-excluir">
        <form method="POST">
            <h3>Excluir contrato</h3>
            <span>Tem certeza que deseja excluir o contrato?</span>
            <div class="btns-container">
                <div class="btn btn-primary" id="cancelar">Cancelar</div>
                <button type="submit" class="btn btn-danger">Excluir</button>
            </div>
        </form>
    </div>
    <script>
        const modal = document.querySelector(".modal-excluir");
        const botoesDelete = document.querySelectorAll(".apagar");
        const botaoCancelar = document.querySelector("#cancelar");
        const formDelete = document.querySelector("form");
        botoesDelete.forEach(btn => {
            btn.addEventListener("click", () => {
                modal.style.display = "flex";
                const contratoId = btn.dataset.id;
                formDelete.action = `/scd/contratos/excluir/${contratoId}`;
            });
        });

        botaoCancelar.addEventListener("click", () => {
            modal.style.display = "none";
        })
    </script>
</body>
</html>